.cadastro-container {
    background-color: white;
    padding: 30px 40px 20px 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    margin-top: 5%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: #061d35; /* Exemplo de cor de fundo para o cabeçalho */
    padding: 10px 0;
    text-align: center;
    color: white;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Altura total menos a altura do cabeçalho */
}

.login-container {
    background-color: white;
    padding: 30px 40px 20px 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    margin-top: 5%;
}

.login-container h1 {
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button.disabled {
    background-color: #7cbbff;
    cursor: not-allowed;
}

button:hover {
    background-color: #0056b3;
}

.button2 {
    margin-top: 1%;
    width: 100%;
    padding: 10px;
    background-color: #eb7201;
    
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button2:hover {
    background-color: #c96100;
}

