<body>
    <div class="header">
        <div class="menu">
            <span style="font-weight: bold;">📔 Minhas receitas</span>
        </div>
    </div>
    <div class="cadastro-container">
        <h1>Cadastro</h1>
        <form action="/register" method="post">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" [(ngModel)]="nome" required>
            </div>
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" [(ngModel)]="email" required>
            </div>
            <div class="form-group">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" [(ngModel)]="senha" required>
            </div>
            <div class="form-group">
                <label for="confSenha">Confirmar senha:</label>
                <input type="password" id="confSenha" name="confSenha" [(ngModel)]="confSenha" required>
            </div>
            <button type="submit" 
            (click)="onRegister()" 
            [disabled]="isFormularioInvalid()" 
            [ngClass]="{'disabled': isFormularioInvalid()}">
            <span style="font-weight: bold;">Cadastrar</span>
            </button>

        </form>
    </div>
</body>