<body>
    <div class="header">
        <div class="menu">
            <span style="font-weight: bold;">📔 Minhas receitas</span>
        </div>
    </div>
    <div class="login-container">
        <h1>Login</h1>
        <form (submit)="onLogin($event)">
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" [(ngModel)]="email" required>
            </div>
            <div class="form-group">
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" [(ngModel)]="password" required>
            </div>

            <div *ngIf="invalidLogin" style="color: red; font-weight: bold;">
                E-mail ou senha inválidos!
            </div>
            <button type="submit"><span style="font-weight: bold;">Entrar</span></button>
        </form>
        <button class="button2" (click)="goToCadastro()"><span style="font-weight: bold;">Cadastrar</span></button>
    </div>
</body>
